body{
background-color: #bdd1de
}

.titulo_principal{
	background-color: #8ab3cf;
	color: #19274e;
	font-size: 40px;

}


p{
	color: rgb(0, 0, 0);
	font-size: 25px;
	display: inline-block;
}

#rp{
	color: rgb(0, 0, 0);
}

em{
	color: rgb(0, 0, 0);
}

img{

	display: inline-block;
	float: left;
	
	width: 850px;
	height: 600px	;
}

.ao_lado{
	font-size: 25px;
	display: inline-block;
	float: right;
	width: 1000px;
	height: 550px;
}

.titulo_secundario{
	display: inline-block;
	background-color: #8ab3cf;
	color: #19274e;
	font-size: 40px;
}

.fim_guerra{
	font-size: 25px;
}

.titulo_3{
	display: inline-block;
	font-size: 40px;
	color: #19274e;
}

.img2 {

	
}