body{
background-color: rgb(0, 0, 0)
}

h1{background-color: ;
	color: red;
	font-size: 40px;
}
p{
	color: rgb(255, 255, 255);
	font-size: 20px;
}

#rp{
	color: rgb(255, 255, 255);
}

em{
	color: rgb(255, 255, 255);
}

